<div *ngIf="Hero">
  <h2>{{Hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{Hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="Hero.name" placeholder="name">
    </label>
  </div>
  </div>

 